.container{
    width: calc(100vw - 200px);
    margin: auto;
  }
  .container-xs{
    width: calc(60vw - 200px);
    margin: auto;
  }
  

  .container-sm{
    width: calc(80vw - 200px);
    margin: auto;
  }
