
.table{
    width: 100%;
    border-collapse: collapse;
     thead{
       th{
     text-align: left;
     border-bottom: 2px solid #dedddd;
     padding: 8px 0px;
     margin:0;
     color: #111;
     font-size: 15px;
       }
    }  
    td{
     text-align: left;
     border-bottom: 1px solid #eee;
     padding: 15px 0px;
     font-size: 14px;
    }
    tbody{
     td:first-child{
       font-size: 15px;
       font-weight: 600;
       a{
         color: #000;
         text-transform: capitalize;
       }
     }
     tr:last-child{
       td{
         border-bottom:none;
       }
     }
    }
   }
