@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: rgb(62, 2, 189);
  --secondary-color: rgb(16, 169, 2);
  --danger-color: rgb(212, 63, 63);
  --primary-text-color: #fff;
  --body-color: #959595;
  --heading-color: rgb(30, 30, 30);
}

body {
  font-family: var(--primary-font);
  color: var(--body-color);
  margin:0;
  padding:0;
  background: rgb(249, 249, 249);
}
h1,h2,h3,h4,h5,h6{
  color: var(--heading-color);
}
.container{
  width: calc(100vw - 200px);
  margin: auto;
}
.container-xs{
  width: calc(60vw - 200px);
  margin: auto;
}

.input{
  &-field{
  display: block;
  border: 1px solid #eee;
  padding: 10px 10px;
  border-radius: 5px;
  color: #959595;
  }
    &-select{
  display: block;
  border: 1px solid #eee;
  padding: 10px 10px;
  border-radius: 5px;
  color: #959595;
  }

}

.btn{
  &--primary{
    background: var(--primary-color);
    color: var(--primary-text-color);
    border:none;
    border-radius: 50px;
    padding: 12px 47px;
    cursor: pointer;
  }
  &--link{
    background: var(--primary-color);
    color: var(--primary-text-color);
    border:none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
  &--danger{
    background: var(--danger-color);
    color: var(--primary-text-color);
    border:none;
    border-radius: 50px;
    padding: 12px 47px;
    cursor: pointer;
  }
}
.page{
  &__content{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    &__title{
      font-size: 20px;
    }
  }
}
.table{
 width: 100%;
 border-collapse: collapse;
  thead{
    th{
  text-align: left;
  border-bottom: 1px solid #959595;
  padding: 8px 0px;
  margin:0;
  color: #111;
  font-size: 15px;
    }
 }  
 td{
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 15px 0px;
  font-size: 14px;
 }
}

.form{
  &__item{
    display: flex;
    flex-direction: column;
    &__label{
      margin-bottom: 10px;
    }
  } 
}
