.header{
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,.05);
  padding: 10px 0;
  background: #fff;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__left{
    display: flex;
  }
  &__right{
    display: flex;
    align-items: center;
  }
}
