.header{
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,.05);
  padding: 10px 0;
  background: #fff;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__left{
    display: flex;
  }
  &__right{
    display: flex;
    align-items: center;
  }
  &__menu{
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    gap: 20px;
    &__item{
      font-style: normal;
      color: #000;
      text-decoration: none;
      padding: 16px 0;
      display: inline-flex;
    }
  }
  &__profile{
    display: flex;
    margin-left: 30px;
    gap: 20px;
    background: rgba(0,0,0,.05);
    padding: 10px;
    padding: 11px 36px;
    border-radius: 26px;
      font-weight: 400;
    &__name{
      color: #000;
      font-weight: 600;
      margin-left: 5px;
    }
    &__logout{
      color: var(--primary-color);
      text-decoration: none;
      border:none;
      padding:0;
      cursor: pointer;
    }
  }
}
