.auth{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &__title{
    text-align: center;
  }
  &__content{
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.03);
    background: #fff;
    @media (min-width: 991px){
          width: 500px;
          margin: auto;
          padding: 10px 40px;
          padding-bottom: 50px;
    }
    padding: 10px 20px;
  }
  &__label{
    display: block;
    margin-bottom: 10px;
  }
  &__input{
    &--text{
      width: 100%;
    }
    &--password{
      width: 100%;
    }
  }
}
